extends layout

block content
  
  h1(id="header") Welcome to Babe Inventory Scanner


  h3 Add instructions
  //- .submit-content
  //-  form.proposal-form.br(method="Post", action="/query", name="barcodeQuery" id="searchForm")
  //-   h2.sub SEARCH UPC
  //-   input(type="text", id="barcodeSearch", placeholder="BARCODE", size="40", name="barcode" )
  //-   button.btn(type="submit") Submit UPC

  //- form(method="Post", action="/queryLoc", name="LocationQuery" id="locationForm")
  //-  h2 Find all products in a current location
  //-  input(type="text", id="barcodeSearch", placeholder="LOCATION", size="40", name="locations" )
  //-  button(type="submit") Submit Location
  //- .submit-content
  //-  form.proposal-form.br(method="Post", action="/add", name="ProductQuantity" id="add")
  //-   h2.sub Scan UPC and Input Quantity
  //-   input(type="text", placeholder="BARCODEUPC", size="30", name="barcodeupc" )
  //-   input(type="text", placeholder="QTY", size="30", name="quantity" )
  //-   button.btn(type="submit") Submit Quantity for Product

  //- form(method="Post", action="/locate", name="ProductQuantity")
  //-  h2 Scan by Location and UPC, add quantity
  //-  input(type="text", placeholder="SCAN LOCATION", size="30", name="bin" )
  //-  input(type="text", placeholder="SCAN BARCODEUPC", size="30", name="productupc" )
  //-  input(type="text", placeholder="INPUT QTY", size="30", name="qty" )
  //-  button(type="submit") Submit Quantity for Product

  //- form(method="Post", action="/locateMulti", name="ProductQuantity")
  //-  h2 Scan by Location and UPC, add quantity
  //-  input(type="text", placeholder="SCAN LOCATION", size="30", name="bin1" )
  //-  input(type="text", placeholder="SCAN BARCODEUPC", size="30", name="productupc1" )
  //-  input(type="text", placeholder="INPUT QTY", size="30", name="qty1" )
  //-  input(type="text", placeholder="SCAN BARCODEUPC", size="30", name="productupc2" )
  //-  input(type="text", placeholder="INPUT QTY", size="30", name="qty2" )
  //-  button(type="submit") Submit Quantity for Product

  .submit-content 
   form.proposal-form.br(method="Post", action="/locateThree", name="ProductQuantity")
    h2.sub IMPORT PRODUCTS
    input(type="text", placeholder="SCAN LOCATION", size="30", name="bin11" )
    input(type="text", placeholder="SCAN BARCODEUPC", size="30", name="productupc11" )
    input(type="text", placeholder="INPUT QTY", size="30", name="qty11" )
    input(type="text", placeholder="SCAN BARCODEUPC", size="30", name="productupc22" )
    input(type="text", placeholder="INPUT QTY", size="30", name="qty22" )
    input(type="text", placeholder="SCAN BARCODEUPC", size="30", name="productupc33" )
    input(type="text", placeholder="INPUT QTY", size="30", name="qty33" )
    button.btn(type="submit") Submit Quantity for Product



  h1 Current Inventory
  div
   table(border="2", align="center", style="font-size: 18px; color: black;")
    tr
     th
      form(method="Post", action="/type", name="TypeQuery")
       input(type="text", placeholder="Search Type", size="8", name="type" )
       button.btn(type="submit", position="absolute") Type
     th
      form(method="Post", action="/length", name="LengthQuery")
       input(type="text", placeholder="Search Length", size="8", name="length")
       button.btn(type="submit") Length
     th 
      form(method="Post", action="/color", name="ColorQuery")
       input(type="text", placeholder="Search Color", size="8", name="color")
       button.btn(type="submit") Color
     th 
      form(method="Post", action="/location", name="LocationQuery")
       input(type="text", placeholder="Search Location", size="8", name="location")
       button.btn(type="submit") Location
     th(align="center")
      form(method="Post", action="/qty", name="QtyQuery")
       input(type="text", placeholder="Search Quantity", size="8", name="qty")
       button.btn(type="submit") Quantity
     th 
      form(method="Post", action="/upc", name="upcQuery")
       input(type="text", placeholder="Search UPC", size="8", name="upc")
       button.btn(type="submit", style="margin:0 auto;") UPC
     th 
      form(method="Post", action="/po", name="POQuery")
       input(type="text", placeholder="Search PO#", size="8", name="po")
       button.btn(type="submit") PO#
    tr
     th Type
     th Length
     th Color
     th Location
     th Quantity
     th UPC
     th PO#
     th Product ID
    if (nums.length)
     each post, i in nums
      tr
       td= post.type
       td= post.length 
       td= post.color
       td= post.location
       td= post.quantity
       td= post.upc
       td= post.shipment
       td= post.type+post.length+'-'+post.color

     

  script.
    $(document).ready(function() {
    $("#barcodeSearch").keyup(function() {
        if ($(this).val().length === 6) {
            $("#searchForm").submit();
            }
        });
    	$('input[name=barcode]').focus();

    	//- Add form submit message to the page
    	$("#add").submit(function(){
    		$('<div class=header>' + value + '</div>').appendTo('#header');
    		})
    });
    //- Need to have all forms submit 
    //- messages for all submit buttons












