extends layout

block content
  
  h1(id="header") Babe Inventory Scanner

  //- h3 Scan Location &#x2192; Scan UPC &#x2192; Input Quantity
  //- h3 #[span(style="color:white;") Scan Location &#x2192;] Scan UPC &#x2192; Input Quantity
  //- h3 #[span(style="color:white;") Scan Location &#x2192;] Scan UPC &#x2192; Input Quantity

  h5(id="success", style="color:red; padding-top: 50px; padding-top: 30px; text-align:center;") You have successfully updated inventory!

  form.form-inline(role='form', style="max-width: 800px; text-align:center; margin: 0 auto; background: #D0D0D0; padding: 15px 10px 10px; border-radius: 10px;")
      .form-group
        input.form-control(placeholder="Location")
      .form-group
        input.form-control(placeholder="UPC #1")
      .form-group
        input.form-control(placeholder="Quantity #1")
      button.btn.btn-default(type='submit') Submit
      br
      .form-group
        input.form-control(placeholder="UPC #2")
      .form-group
        input.form-control(placeholder="Quantity #2")
      br
      .form-group
        input.form-control(placeholder="UPC #3")
      .form-group
        input.form-control(placeholder="Quantity #3")


  div.submit-content
   form.proposal-form.br(method="Post", action="/locateThree", name="ProductQuantity")
    h2.sub(style="padding-bottom: 15px;") Update Inventory
    input(type="text", id="loc", placeholder="SCAN LOCATION", size="30", name="bin11" )
    input(type="text", id="upc", placeholder="SCAN UPC", size="30", name="productupc11" )
    input(type="text", placeholder="INPUT QTY", size="30", name="qty11" )
    input(type="text", id="loc2", placeholder="SCAN UPC #2", size="30", name="productupc22" )
    input(type="text", id="upc2", placeholder="INPUT QTY #2", size="30", name="qty22" )
    input(type="text", id="loc3", placeholder="SCAN UPC #3", size="30", name="productupc33" )
    input(type="text", id="upc3", placeholder="INPUT QTY #3", size="30", name="qty33" )
    button.btn(type="submit", id="invSub") Submit to Inventory

  //- form.form-inline
  //-  .form-group
  //-    input.form-control(type='text', placeholder='Type', height="20px;", style="padding-top: 10px;")
  //-   button.btn.btn-default(type='submit', style="font-size: 15px;") Search
  //- form.form-style-9
  //-     ul
  //-       li
  //-         input.field-style.field-split.align-left(type='text', name='field1', placeholder='Name')
  //-         input.field-style.field-split.align-right(type='email', name='field2', placeholder='Email')
  //-         input.field-style.field-split.align-left(type='log', name='log2', placeholder='login')
  //-       li
  //-         input.field-style.field-split.align-left(type='text', name='field3', placeholder='Phone')
  //-         input.field-style.field-split.align-right(type='url', name='field4', placeholder='Website')
  //-       li
  //-         input.field-style.field-full.align-none(type='text', name='field3', placeholder='Subject')
  //-       li
  //-         textarea.field-style(name='field5', placeholder='Message')
  //-       li
  //-         input(type='submit', value='Send Message')




 

  h1 Current Inventory
  div
   table.table-striped.table-bordered.table-responsive(width="90%", align="center", style="font-size:18px; color:black;")
    tr
     th
      form.proposal-form.br(method="Post", action="/type", name="TypeQuery")
       input(type="text", placeholder="Search", size="8", name="type", style="font-size: 13px;")
       button.btn(type="submit", style="font-size: 15px;display:block; text-align:center;") Type
     th
      form.proposal-form.br(method="Post", action="/length", name="LengthQuery")
       input(type="text", placeholder="Search", size="8", name="length1", style="font-size: 13px;")
       button.btn(type="submit", style="font-size: 15px;display:block; text-align:center;") Length
     th 
      form.proposal-form.br(method="Post", action="/color", name="ColorQuery")
       input(type="text", placeholder="Search", size="8", name="color", style="font-size: 13px;")
       button.btn(type="submit", style="font-size: 15px;display:block; text-align:center;") Color
     th 
      form.proposal-form.br(method="Post", action="/location", name="LocationQuery")
       input(type="text", placeholder="Search", size="8", name="location", style="font-size: 13px;")
       button.btn(type="submit", style="font-size: 15px;display:block; text-align:center;") Location
     th(align="center")
      form.proposal-form.br(method="Post", action="/qty", name="QtyQuery")
       input(type="text", placeholder="Search", size="8", name="qty", style="font-size: 13px;")
       button.btn(type="submit", style="font-size: 15px;display:block; text-align:center;") Quantity
     th 
      form.proposal-form.br(method="Post", action="/upc", name="upcQuery")
       input(type="text", placeholder="Search", size="8", name="barcode", style="font-size: 13px;")
       button.btn(type="submit", style="font-size: 15px;display:block; text-align:center;") UPC
     th(style="text-align:center;") 
      form.proposal-form.br(method="Post", action="/po", name="POQuery")
       input(type="text", placeholder="Search", size="8", name="po", style="font-size: 13px;")
       button.btn(type="submit", style="font-size: 15px; display:block; text-align:center;") PO#
     th
      form.form-inline
       .form-group
        input.form-control(type='text', placeholder='Type', height="20px;")
       button.btn.btn-default(type='submit', style="font-size: 15px; text-align:center; margin: 0 auto;") Search
    tr(align="center")
     th Type
     th Length
     th Color
     th Location
     th Quantity
     th UPC
     th PO#
     th Product ID
    if (products.length)
     each product, i in products
      tr
       td= product.type
       td= product.length
       td= product.color
       td= product.location
       td= product.quantity
       td= product.upc
       td= product.shipment
       td=product.type+product.length+'-'+product.color

     

  script.
    $(document).ready(function() {
    	$('input[name=bin11]').focus();

    $("#loc").keyup(function() {
        if ($(this).val().length > 5) {
            $('input[name=productupc11]').focus();
            }
        });
    $("#upc").keyup(function() {
        if ($(this).val().length === 6) {
            $('input[name=qty11]').focus();
            }
        });

    $("#loc2").keyup(function() {
        if ($(this).val().length > 5) {
            $('input[name=productupc22]').focus();
            }
        });
    $("#upc2").keyup(function() {
        if ($(this).val().length === 6) {
            $('input[name=qty22]').focus();
            }
        });

    $("#loc3").keyup(function() {
        if ($(this).val().length > 5) {
            $('input[name=productupc22]').focus();
            }
        });
    $("#upc3").keyup(function() {
        if ($(this).val().length === 6) {
            $('input[name=qty22]').focus();
            }
        });
       $('#success').hide();
       $('#invSub').bind('click', function(){
           window.scrollTo(0,0);
           $('#success').show(200).delay(4000).hide(200);

       }); 


    });













