extends layout

block content
  
  h1(id="header") Babe Inventory Scanner

  h3 Scan Location &#x2192; Scan UPC &#x2192; Input Quantity
  h3(style="margin-left: 12%")&#x2192; Scan UPC &#x2192; Input Quantity
  h3(style="margin-left: 12%")&#x2192; Scan UPC &#x2192; Input Quantity

  h5(id="success", style="color:red; padding-top: 50px;") You have successfully added items to inventory

  div.submit-content
   form.proposal-form.br(method="Post", action="/locateThree", name="ProductQuantity")
    h2.sub IMPORT PRODUCTS
    h3(style="padding-bottom:15px;") Please Input the following:
    input(type="text", id="loc", placeholder="SCAN LOCATION", size="30", name="bin11" )
    input(type="text", id="upc", placeholder="SCAN UPC", size="30", name="productupc11" )
    input(type="text", placeholder="INPUT QTY", size="30", name="qty11" )
    input(type="text", id="loc2", placeholder="SCAN UPC #2", size="30", name="productupc22" )
    input(type="text", id="upc2", placeholder="INPUT QTY #2", size="30", name="qty22" )
    input(type="text", id="loc3", placeholder="SCAN UPC #3", size="30", name="productupc33" )
    input(type="text", id="upc3", placeholder="INPUT QTY #3", size="30", name="qty33" )
    button.btn(type="submit", id="invSub") Submit to Inventory

  form.form-inline
   .form-group
     input.form-control(type='text', placeholder='Type', height="20px;", style="padding-top: 10px;")
    button.btn.btn-default(type='submit', style="font-size: 15px;") Search
 

  h1 Current Inventory
  div
   table(border="3", width="90%", align="center", style="font-size:18px; color:black;")
    tr
     th
      form.proposal-form.br(method="Post", action="/type", name="TypeQuery")
       input(type="text", placeholder="Search", size="8", name="type", style="font-size: 13px;")
       button.btn(type="submit", style="font-size: 15px;display:block; text-align:center;") Type
     th
      form.proposal-form.br(method="Post", action="/length", name="LengthQuery")
       input(type="text", placeholder="Search", size="8", name="length1", style="font-size: 13px;")
       button.btn(type="submit", style="font-size: 15px;display:block; text-align:center;") Length
     th 
      form.proposal-form.br(method="Post", action="/color", name="ColorQuery")
       input(type="text", placeholder="Search", size="8", name="color", style="font-size: 13px;")
       button.btn(type="submit", style="font-size: 15px;display:block; text-align:center;") Color
     th 
      form.proposal-form.br(method="Post", action="/location", name="LocationQuery")
       input(type="text", placeholder="Search", size="8", name="location", style="font-size: 13px;")
       button.btn(type="submit", style="font-size: 15px;display:block; text-align:center;") Location
     th(align="center")
      form.proposal-form.br(method="Post", action="/qty", name="QtyQuery")
       input(type="text", placeholder="Search", size="8", name="qty", style="font-size: 13px;")
       button.btn(type="submit", style="font-size: 15px;display:block; text-align:center;") Quantity
     th 
      form.proposal-form.br(method="Post", action="/upc", name="upcQuery")
       input(type="text", placeholder="Search", size="8", name="barcode", style="font-size: 13px;")
       button.btn(type="submit", style="font-size: 15px;display:block; text-align:center;") UPC
     th(style="text-align:center;") 
      form.proposal-form.br(method="Post", action="/po", name="POQuery")
       input(type="text", placeholder="Search", size="8", name="po", style="font-size: 13px;")
       button.btn(type="submit", style="font-size: 15px; display:block; text-align:center;") PO#
     th
      form.form-inline
       .form-group
        input.form-control(type='text', placeholder='Type', height="20px;")
       button.btn.btn-default(type='submit', style="font-size: 15px; text-align:center") Search
    tr(align="center")
     th Type
     th Length
     th Color
     th Location
     th Quantity
     th UPC
     th PO#
     th Product ID
    if (products.length)
     each product, i in products
      tr
       td= product.type
       td= product.length
       td= product.color
       td= product.location
       td= product.quantity
       td= product.upc
       td= product.shipment
       td=product.type+product.length+'-'+product.color

     

  script.
    $(document).ready(function() {
    	$('input[name=bin11]').focus();

    $("#loc").keyup(function() {
        if ($(this).val().length > 5) {
            $('input[name=productupc11]').focus();
            }
        });
    $("#upc").keyup(function() {
        if ($(this).val().length === 6) {
            $('input[name=qty11]').focus();
            }
        });

    $("#loc2").keyup(function() {
        if ($(this).val().length > 5) {
            $('input[name=productupc22]').focus();
            }
        });
    $("#upc2").keyup(function() {
        if ($(this).val().length === 6) {
            $('input[name=qty22]').focus();
            }
        });

    $("#loc3").keyup(function() {
        if ($(this).val().length > 5) {
            $('input[name=productupc22]').focus();
            }
        });
    $("#upc3").keyup(function() {
        if ($(this).val().length === 6) {
            $('input[name=qty22]').focus();
            }
        });
       $('#success').hide(2000);
       //-  $('#invSub').click( function () {
       //-     $('#success').show().delay(1000).fadeOut();
       //-     return false;
       //-  });
    	

    	//- //- Add form submit message to the page


    	//- $("#add").submit(function(){
    	//- 	$('<div class=header>' + value + '</div>').appendTo('#header');
    	//- 	})    $("#searchForm").submit();
    });
    //- Need to have all forms submit 
    //- messages for all submit buttons












