extends layout

block content
  
  h1(id="header", style="padding-top: 50px;") Babe Inventory Scanner

  h5.mess( style="color:red; padding-top: 50px; padding-top: 30px; text-align:center;") You have successfully updated inventory!

  div(style="background:#D0D0D0; width:90%; margin:40px auto; padding-top:50px; padding-bottom:50px; border-radius: 8px;")
   form(role='form', method="Post", action="/locateThree", name="ProductQuantity")
    table.table-striped.table-bordered.table-responsive(width="80%", align="center", style="font-size:18px;border-collapse:collapse" )
     tr
      td
       input.form-control(type="text", id="loc", placeholder="LOCATION", name="bin11", size="10", style="font-size: 13px;padding:0px; margin:0px;", required)
      td
       input.form-control(type="text", id="upc", placeholder="UPC #1",  name="productupc11", size="10", style="font-size: 13px;padding:0px; margin:0px;", required)
      td
       input.form-control.quan(type="text", placeholder="QUANTITY #1",  name="qty11", id="foo", size="10", style="font-size: 13px;padding:0px; margin:0px;", required)
     tr
      td
      td
       input.form-control(type="text", id="loc2", placeholder="UPC #2",  name="productupc22", size="8", style="font-size: 13px;padding:0px; margin:0px;")
      td
       input.form-control.quan(type="text", id="upc2", placeholder="QUANTITY #2", name="qty22", size="8", style="font-size: 13px;padding:0px; margin:0px;")
     tr
      td(style="background:#D0D0D0;")
      td
       input.form-control(type="text", id="loc3", placeholder="UPC #3",  name="productupc33", size="8", style="font-size: 13px;padding:0px; margin:0px;")
      td
       input.form-control.quan(type="text", id="upc3", placeholder="QUANTITY #3",  name="qty33", size="8", style="font-size: 13px;padding:0px; margin:0px;")
    button.btn.invSub(type="submit", style="font-size:25px;") Submit


 
  h1(style="padding-top: 40px;") Search Current Inventory
  form(method="Post", action="/query", name="DBQuery", style="padding-bottom: 50px;")
   button.search.btn(type="submit", style="font-size:15px;") Search
   table.table-striped.table-bordered.table-responsive(width="90%", align="center", style="font-size:18px; color:black;")
    tr(style="margin: 0 auto; background: #52bab3;")
     td #[b UPC]
     td #[b DESCRIPTION]
     td #[b LOCATION]
     td #[b QUANTITY]
     td #[b PO#]
     td #[b Update]
     td #[b Delete]
    tr
     td
      input.form-control.upc(type="text", placeholder="barcode", size="8", name="barcode", style="font-size: 13px;padding:0px; margin:0px;")
     td
      input.form-control.location(type="text", placeholder="description", size="8", name="description", style="font-size: 13px;padding:0px; margin:0px;")
     td
      input.form-control.location(type="text", placeholder="location", size="8", name="location", style="font-size: 13px;padding:0px; margin:0px;")
     td
      input.form-control.quantity(type="text", placeholder="qty", size="8", name="qty", style="font-size: 13px;padding:0px; margin:0px;")
     td
      input.form-control.poNum(type="text", placeholder="po", size="8", name="po", style="font-size: 13px;padding:0px; margin:0px;")
     

    if (nums.length)
     each post, i in nums
      tr
       td= post.upc
       td= post.description
       td= post.location 
       td= post.quantity
       td= post.shipment
       td #[a(href="/updateproduct/#{post.id}") Update]
       td #[a(href="/deleteuser/#{post.id}", onclick="return warningList();") Delete]

     

  script.
    $(document).ready(function() {
      $('input[name=bin11]').focus();

    //- $(".loc").keyup(function() {
    //-     if ($(this).val().length === 8) {
    //-         $('input[name=productupc11]').focus();
    //-         }
    //-     });
    //- $(".inv").keyup(function() {
    //-     if ($(this).val().length === 6) {
    //-         $('input[name=qty11]').focus();
    //-         }
    //-     });

    //- $(".inv2").keyup(function() {
    //-     if ($(this).val().length === 6) {
    //-         $('input[name=qty22]').focus();
    //-         }
    //-     });

    //- $(".inv3").keyup(function() {
    //-     if ($(this).val().length === 6) {
    //-         $('input[name=qty33]').focus();
    //-         }
    //-     });



      //- success message

       $('.mess').hide();

       $('.invSub').bind('click', function(){
           window.scrollTo(0,0);
           $('.mess').show(200).delay(4000).hide(200);
       }); 
        
        //- Delete are you sure message
        function warningList() {
          if(confirm("Please confirm you want to delete this proposal") == true){
          return true;
          } 
        else{
        return false;
          }
        }



        //-   //- Press enter on quantities to submit to inventory
        $('.quan').keypress(function (e){
         if(e.which == 13){
         $('.invSub').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })



          //- Press enter to search attributes
       $('.type').keypress(function (e){
         if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })
       $('.length').keypress(function (e){
         if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })
       $('.color').keypress(function (e){
         if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })
       $('.location').keypress(function (e){
         if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })
       $('.quantity').keypress(function (e){
         if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })
       $('.upc').keypress(function (e){
         if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })
       $('.poNum').keypress(function (e){
         if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })


    });
     
     //- Delete are you sure message
        function warningList() {
          if(confirm("Please confirm you want to delete this UPC") == true){
          return true;
          } 
        else{
        return false;
          }
        }








