extends layout

block content
  
  h1(id="header", style="padding-top: 50px;") Babe Inventory Scanner

  h5.mess( style="color:red; padding-top: 50px; padding-top: 30px; text-align:center;") You have successfully updated inventory!

  form.form-inline(role='form', method="Post", action="/locateThree", name="ProductQuantity", style="max-width: 800px; text-align:center; margin: 0 auto; background: #D0D0D0; padding: 15px 10px 10px; border-radius: 10px;")
      .form-group
        input.form-control.loc(type="text", id="loc", placeholder="LOCATION", name="bin11" )
      .form-group
        input.form-control.inv(type="text", id="upc", placeholder="UPC",  name="productupc11" )
      .form-group
        input.form-control.quan1(type="text", placeholder="Quantity",  name="qty11" )
      button.btn.btn-default.invSub(type="submit") Submit
      br
      .form-group
        input.form-control.inv2(type="text", id="loc2", placeholder="SCAN UPC #2",  name="productupc22" )
      .form-group
        input.form-control.quan2(type="text", id="upc2", placeholder="INPUT QTY #2", name="qty22" )
      br
      .form-group
        input.form-control.inv3(type="text", id="loc3", placeholder="SCAN UPC #3",  name="productupc33" )
      .form-group
        input.form-control.quan3(type="text", id="upc3", placeholder="INPUT QTY #3",  name="qty33" )


 
  h1(style="padding-top: 40px;") Search Current Inventory
  form(method="Post", action="/query", name="DBQuery")
   button.search.btn(type="submit", style="font-size:15px;") Search
   table.table-striped.table-bordered.table-responsive(width="90%", align="center", style="font-size:18px; color:black; padding-bottom: 35px;")
    tr(style="margin: 0 auto; background: #52bab3;")
     td #[b UPC]
     td #[b DESCRIPTION]
     td #[b LOCATION]
     td #[b QUANTITY]
     td #[b PO#]
     td #[b Update]
     td #[b Delete]
    tr
     td
      input.form-control.upc(type="text", placeholder="barcode", size="8", name="barcode", style="font-size: 13px;padding:0px; margin:0px;")
     td
      input.form-control.location(type="text", placeholder="description", size="8", name="description", style="font-size: 13px;padding:0px; margin:0px;")
     td
      input.form-control.location(type="text", placeholder="location", size="8", name="location", style="font-size: 13px;padding:0px; margin:0px;")
     td
      input.form-control.quantity(type="text", placeholder="qty", size="8", name="qty", style="font-size: 13px;padding:0px; margin:0px;")
     td
      input.form-control.poNum(type="text", placeholder="po", size="8", name="po", style="font-size: 13px;padding:0px; margin:0px;")
     

    if (nums.length)
     each post, i in nums
      tr
       td= post.upc
       td= post.description
       td= post.location 
       td= post.quantity
       td= post.shipment
       td #[a(href="/updateproduct/#{post.id}") Edit]
       td #[a(href="/deleteuser/#{post.id}") Delete]

     

  script.
    $(document).ready(function() {
      $('input[name=bin11]').focus();

    $(".loc").keyup(function() {
        if ($(this).val().length === 8) {
            $('input[name=productupc11]').focus();
            }
        });
    $(".inv").keyup(function() {
        if ($(this).val().length === 6) {
            $('input[name=qty11]').focus();
            }
        });

    $(".inv2").keyup(function() {
        if ($(this).val().length === 6) {
            $('input[name=qty22]').focus();
            }
        });

    $(".inv3").keyup(function() {
        if ($(this).val().length === 6) {
            $('input[name=qty33]').focus();
            }
        });



      //- success message

       $('.mess').hide();

       $('.invSub').bind('click', function(){
           window.scrollTo(0,0);
           $('.mess').show(200).delay(4000).hide(200);
       }); 


        //-   //- Press enter on quantities to submit to inventory
        //- $('.quan1').keypress(function (e){
        //-  if(e.which == 13){
        //-  $('.invSub').focus().click();
        //-  //window.scrollTo(200,400);
        //-  return false;
        //-  }
        //- })
        //-  $('.quan2').keypress(function (e){
        //-  if(e.which == 13){
        //-  $('.invSub').focus().click();
        //-  //window.scrollTo(200,400);
        //-  return false;
        //-  }
        //- })
        //-  $('.quan3').keypress(function (e){
        //-  if(e.which == 13){
        //-  $('.invSub').focus().click();
        //-  //window.scrollTo(200,400);
        //-  return false;
        //-  }
        //- })


          //- Press enter to search attributes
       $('.type').keypress(function (e){
         if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })
       $('.length').keypress(function (e){
         if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })
       $('.color').keypress(function (e){
         if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })
       $('.location').keypress(function (e){
         if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })
       $('.quantity').keypress(function (e){
         if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })
       $('.upc').keypress(function (e){
         if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })
       $('.poNum').keypress(function (e){
         if(e.which == 13){
         $('.search').focus().click();
         //window.scrollTo(200,400);
         return false;
         }
        })


    });








